@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
/* line 59, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
html {
  font-family: "Fredoka One";
  background: #b8e4ff;
  -moz-background-size: 80px 80px;
  -webkit-background-size: 80px 80px;
  -o-background-size: 80px 80px;
  background-size: 80px 80px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(25%, rgba(255, 255, 255, 0.1)), color-stop(25%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(75%, rgba(255, 255, 255, 0.1)), color-stop(75%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left top, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left top, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
}

/* line 72, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
h1 {
  text-align: center;
  color: white;
  text-shadow: 3px 3px black;
  -webkit-text-stroke: 1px black;
}

/* line 79, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.image-stack {
  margin: auto;
  height: 638px;
  width: 960px;
  position: relative;
}
/* line 86, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.image-stack .main-sam {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radisu: 10px;
  border-radius: 10px;
}
/* line 90, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.image-stack #sam {
  z-index: -1;
  position: relative;
  top: 0;
  left: 0;
}
/* line 97, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.image-stack #sam-overlap {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 104, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.image-stack .temp {
  position: absolute;
}
/* line 108, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.image-stack #temp-oreo {
  bottom: 50px;
  left: 250px;
  -webkit-transform: rotate(-45deg) scale(0.5);
  -moz-transform: rotate(-45deg) scale(0.5);
  -ms-transform: rotate(-45deg) scale(0.5);
  -o-transform: rotate(-45deg) scale(0.5);
  transform: rotate(-45deg) scale(0.5);
}
/* line 114, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.image-stack #temp-sushi {
  bottom: 40px;
  right: 390px;
  -webkit-transform: rotate(0deg) scale(0.75);
  -moz-transform: rotate(0deg) scale(0.75);
  -ms-transform: rotate(0deg) scale(0.75);
  -o-transform: rotate(0deg) scale(0.75);
  transform: rotate(0deg) scale(0.75);
}
/* line 120, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.image-stack #temp-shumai {
  bottom: 20px;
  right: 20px;
  -webkit-transform: rotate(-45deg) scale(0.5);
  -moz-transform: rotate(-45deg) scale(0.5);
  -ms-transform: rotate(-45deg) scale(0.5);
  -o-transform: rotate(-45deg) scale(0.5);
  transform: rotate(-45deg) scale(0.5);
}
/* line 126, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.image-stack #temp-cake {
  bottom: 0px;
  left: 0px;
  -webkit-transform: rotate(-60deg) scale(0.5);
  -moz-transform: rotate(-60deg) scale(0.5);
  -ms-transform: rotate(-60deg) scale(0.5);
  -o-transform: rotate(-60deg) scale(0.5);
  transform: rotate(-60deg) scale(0.5);
}
/* line 132, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.image-stack #temp-secret {
  bottom: 20px;
  right: 200px;
  -webkit-transform: rotate(-30deg) scale(0.4);
  -moz-transform: rotate(-30deg) scale(0.4);
  -ms-transform: rotate(-30deg) scale(0.4);
  -o-transform: rotate(-30deg) scale(0.4);
  transform: rotate(-30deg) scale(0.4);
}

/* line 139, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
table {
  margin: auto;
  text-align: center;
}
/* line 143, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
table th {
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px black;
  -webkit-text-stroke: 1px black;
}
/* line 150, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
table td {
  font-size: 20px;
}

/* line 155, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.button-container {
  margin: 30px;
  width: 150px;
  height: 100px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radisu: 10px;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0px 10px 0 #b4b4b4, 0px 15px 20px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 0 #b4b4b4, 0px 15px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 0 #b4b4b4, 0px 15px 20px rgba(0, 0, 0, 0.35);
}
/* line 163, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.button-container .food-button {
  height: auto;
  margin: auto;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radisu: 10px;
  border-radius: 10px;
  outline: none;
  -webkit-transition: transform 0.1s ease-in-out;
  -moz-transition: transform 0.1s ease-in-out;
  -o-transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}
/* line 177, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.button-container .food-button:active {
  -webkit-transform: translate(0px, 4px);
  -moz-transform: translate(0px, 4px);
  -o-transform: translate(0px, 4px);
  transform: translate(0px, 4px);
}

/* line 182, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.secret-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radisu: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 0 #a40000, 0px 0px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 0 #a40000, 0px 0px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 0 #a40000, 0px 0px 0px rgba(0, 0, 0, 0.35);
}
/* line 189, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.secret-container #secret {
  outline: none;
  background-color: red;
  border-style: none;
  height: 30px;
  width: 30px;
  color: white;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radisu: 4px;
  border-radius: 4px;
  -webkit-transition: transform 0.1s ease-in-out;
  -moz-transition: transform 0.1s ease-in-out;
  -o-transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}
/* line 204, C:/Users/Yen/Desktop/TheOdinProject/Rails projects/sam-simulator/app/assets/stylesheets/simulator.scss */
.secret-container #secret:active {
  -webkit-transform: translate(0px, 2px);
  -moz-transform: translate(0px, 2px);
  -o-transform: translate(0px, 2px);
  transform: translate(0px, 2px);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

